<configuration>
<appender name="ELM_TransactionAppender" class="ch.qos.logback.core.FileAppender">
    <File>transaction.log</File>
    <Append>false</Append>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %class{36}.%M:%L - %msg%n</pattern>
    </encoder>
</appender>
 
<appender name="ELM_AppMetricAppender" class="ch.qos.logback.core.FileAppender">
    <Append>false</Append>
    <File>app-metrics.log</File>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %class{36}.%M:%L - %msg%n</pattern>
    </encoder>
</appender>
 
<appender name="ELM_SoftwareMetricAppender" class="ch.qos.logback.core.FileAppender">
    <File>software-metrics.log</File>
    <Append>false</Append>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %class{36}.%M:%L - %msg%n</pattern>
    </encoder>
</appender>

<appender name="ELM_ApplicationFunctionalAppender" class="ch.qos.logback.core.FileAppender">
    <File>application.log</File>
    <Append>false</Append>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %class{36}.%M:%L - %msg%n</pattern>
    </encoder>
</appender>
 
<logger name="ELM_TransactionLogger" additivity="false" level="INFO">
    <appender-ref ref="ELM_TransactionAppender"/>
</logger>
 
<logger name="ELM_ApplicationMetricLogger" additivity="false" level="INFO">
    <appender-ref ref="ELM_AppMetricAppender"/>
</logger>
 
<logger name="ELM_SoftwareMetricLogger" additivity="false" level="INFO">
    <appender-ref ref="ELM_SoftwareMetricAppender"/>
</logger>

<root level="info">
    <appender-ref ref="ELM_ApplicationFunctionalAppender" />
  </root>
</configuration>